h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
h1,
h2 {
  text-transform: capitalize;
}
h1,
h3 {
  text-align: center;
}
h2,
p {
  text-align: left;
}
h1 {
  font-size: 72px;
  line-height: 98.21px;
}
h2 {
  font-size: 28px;
  line-height: 38.19px;
}
h3 {
  font-size: 24px;
  line-height: 35px;
}
p {
  font-weight: 400;
  line-height: 30px;
}
footer {
  font-family: "Roboto", sans-serif;
}
img {
  border-radius: 12px;
}
.second-part {
  opacity: 0.9;
  font-size: 18px;
}
.hero-image {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.hero {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 100px;
  margin: 50px 0 40px 0;
}
.hero-content {
  margin: 100px 0px 258px 0px;
}
.about-section {
  margin: 126px 558px;
}
.my-name {
  font-size: 64px;
  line-height: 87.3px;
}
.about-me-paragraph {
  font-size: 18px;
}
@media (max-width: 990px) {
  h1 {
    font-size: 52px;
    line-height: 1.5;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  .hero-image {
    display: block;
    margin: 0 auto;
  }
  .second-part {
    opacity: 0.9;
    font-size: 16px;
  }
}
