:root {
  --main-font: "Nunito", sans-serif;
  --main-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
}
h1,
h2 {
  text-transform: capitalize;
}
h1,
h3 {
  text-align: center;
}
h2,
p {
  text-align: left;
}
h1 {
  font-size: 72px;
  line-height: 99px;
}
h2 {
  font-size: 28px;
  line-height: 38.19px;
}
h3 {
  font-size: 24px;
  line-height: 35px;
}
p {
  font-weight: 400;
  line-height: 30px;
  font-family: var(--main-font);
}
footer {
  font-family: "Roboto", sans-serif;
}
img {
  border-radius: 12px;
}
hr {
  text-decoration: dotted;
  color: #67d5d2;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 22px;
  margin-left: 15px;
}
nav a {
  font-size: 16px;
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
a:hover,
li.active a,
.information a:hover,
.footer-note a:hover {
  color: #662eed;
}
.information a {
  color: #272142;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
.second-part {
  opacity: 0.9;
  font-size: 18px;
}

.hero {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 100px;
  margin: 35px 0 40px 0;
}
.hero-content {
  margin: 100px 0px 100px 0px;
}
.about-section {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 98.21px;
  font-size: 72px;
  text-transform: capitalize;
  margin: 26px 0px 126px 0px;
}
.my-name {
  font-size: 64px;
  line-height: 88px;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  text-transform: capitalize;
  margin: 62px 240px 36px 0px;
}
.about-me-paragraph {
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 400;
  margin: 0px 240px 40px 0px;
}
.profile-picture {
  width: 350px;
  height: 380px;
  margin: 0px 40px 100px 240px;
  margin: 0px 40px 100px 240px;
}
.social-link {
  font-family: var(--main-font);
  margin: 0 0 163px 0;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 18px;
}
.socials {
  color: #272142;
  padding: 15px;
}
.social-button {
  color: black;
  padding: 0px 30px;
}
.favorites {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 36px;
  height: 49.1px;
  text-align: center;
  text-transform: capitalize;
}
.fav-recipe-content {
  padding-bottom: 100px;
}
.fav-recipes {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 24px;
  height: 32.74px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.fav-recipes:active {
  opacity: 0.7;
}
.recipes-image {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
.recipe-page {
  max-width: 760px;
  display: block;
  margin: 0 auto;
}

.main-recipe {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  text-align: left;
  margin: 42px 0px 32px 0px;
}
.method-section {
  float: left;
  padding: 0;
}
.method {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 24px;
  line-height: 33px;
}
.steps {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 12px;
}
.main-steps {
  color: #f65282;
  font-weight: var(--main-weight);
}

.info {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  text-transform: uppercase;
  color: #662eed;
  font-size: 18px;
  line-height: 25px;
}
.information,
.information a {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
footer {
  background-color: #f2f0f5;
  background-size: cover;
  padding: 40px;
}

.logo {
  max-width: 200px;
}
.footer-logo {
  max-width: 150px;
  max-height: 150px;
}
.footer-links {
  margin: 0px 180px 0px 180px;
}
.footer-note {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.footer-note a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

@media (max-width: 990px) {
  h1 {
    font-size: 52px;
    line-height: 1.5;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  .second-part {
    opacity: 0.9;
    font-size: 16px;
  }
  .about-section {
    font-size: 50px;
    margin: 26px 0px 26px 0px;
  }

  .my-name {
    font-size: 40px;
    text-align: center;
    margin: 0;
  }
  .about-me-paragraph {
    text-align: left;
    margin: 0;
  }
  .social-link {
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .favorites {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    height: 1.5;
  }
  .fav-recipes {
    margin-bottom: 30px;
  }
  .main-recipe {
    font-size: 26px;
    margin: 22px 0px 12px 0px;
  }
  .method {
    font-size: 18px;
    line-height: 1.5;
  }
  .steps {
    font-size: 14px;
    line-height: 1.5;
  }
  .info {
    font-size: 14px;
    line-height: 1.5;
  }
  .information {
    font-size: 18px;
    line-height: 1.5;
  }
  .logo {
    max-height: 50px;
  }
  .socials {
    padding: 3px;
    font-size: 10px;
  }
  .footer-links {
    margin: 0px 10px 0px 10px;
  }
  .footer-logo {
    max-width: 80px;
    max-height: 80px;
  }
  .footer-note {
    font-size: 12px;
    font-weight: 1.5;
  }
}
