:root {
  --main-font: "Nunito", sans-serif;
  --main-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
}
h1,
h2 {
  text-transform: capitalize;
}
h1,
h3 {
  text-align: center;
}
h2,
p {
  text-align: left;
}
h1 {
  font-size: 72px;
  line-height: 98.21px;
}
h2 {
  font-size: 28px;
  line-height: 38.19px;
}
h3 {
  font-size: 24px;
  line-height: 35px;
}
p {
  font-weight: 400;
  line-height: 30px;
  font-family: var(--main-font);
}
footer {
  font-family: "Roboto", sans-serif;
}
img {
  border-radius: 12px;
}
.second-part {
  opacity: 0.9;
  font-size: 18px;
}
.hero-image {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.hero {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 100px;
  margin: 35px 0 40px 0;
}
.hero-content {
  margin: 100px 0px 258px 0px;
}
.about-section {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 98.21px;
  font-size: 72px;
  text-transform: capitalize;
  margin: 26px 0px 126px 0px;
}
.my-name {
  font-size: 64px;
  line-height: 87.3px;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  text-transform: capitalize;
  margin: 62px 240px 36px 0px;
}
.about-me-paragraph {
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 400;
  margin: 0px 240px 40px 0px;
}
.profile-picture {
  width: 350px;
  height: 380px;
  margin: 0px 40px 100px 240px;
  margin: 0px 40px 100px 240px;
}
.social-link {
  font-family: var(--main-font);
  margin: 0 0 163px 0;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 18px;
}
.social-button {
  color: black;
  padding: 0px 30px;
}
.favorites {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 36px;
  height: 49.1px;
  text-align: center;
  text-transform: capitalize;
}
.fav-recepies {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 24px;
  height: 32.74px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.fav-recepies:active {
  opacity: 0.7;
}
.about-fav {
  max-width: 350px;
  padding: 20px 0 0 0;
}
.fav-recepie-content {
  margin: 0 140px 100px 140px;
}
@media (max-width: 1400px) {
  h1 {
    font-size: 52px;
    line-height: 1.5;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  .hero-image {
    display: block;
    margin: 0 auto;
  }
  .second-part {
    opacity: 0.9;
    font-size: 16px;
  }
  .about-section {
    margin: ;
    font-size: 50px;
    margin: 26px 0px 26px 0px;
  }
  .profile-picture {
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
    border-radius: 200px;
  }
  .my-name {
    font-size: 40px;
    text-align: center;
    margin: 0;
  }
  .about-me-paragraph {
    text-align: left;
    margin: 0;
  }
  .social-link {
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .favorites {
    text-align: center;
    margin-bottom: 40px;
  }
  .fav-recepies {
    font-size: 22px;
    text-align: center;
  }
  .about-fav {
    padding: 20px;
    margin: 0 auto;
  }
}
